.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* TITLE PAGE */
/* #title-page {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 200px auto;
  grid-template-areas:
      ". header header header header header header header header header header ."
      ". about about about about about about about about about about ."
      ". tl tl tl tl tl tl tl tl tl tl ."
      
} */
/* TITLE HEADER */
.title-header {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
      ". name . . . . . . . in start ."
}


.title-name {
  grid-area: name;
  font-family: 'Fredericka the Great', cursive;
  font-size: 80px;
  margin-top: auto;
}

.sign-in {
  grid-area: in;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.get-started {
  grid-area: start;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* TITLE ABOUT */
.title-about {
  display: grid;
  margin-top: 10%;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25% 25% 25% 25% 25%;
  grid-template-areas:
      ". . . . . h2 h2 h2 . . . ."
      ". . . . . . . . . . . ."
      ". . . . . p p p . . . ." 
      ". . . . . . . . . . . ."
      ". . . . . . astart . . . . ."
}

.about-h2 {
  grid-area: h2;
}

.about-p {
  grid-area: p;
}

.about-get-started {
  grid-area: astart;
}

/* TITLE TRENDING STORIES */
.trending-list {
  display: grid;
  margin-top: 10%;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
      ". . . . . . tstory . . . . . ."
}

.trending-story {
  grid-area: tstory;
}

/* HOME PAGE */
.main-header {
  display: grid;
  border-bottom: 1px solid black;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      ". mht . . . . . . mainnav mainnav mainnav ."
      ". mhw mhn . . . . . . . . ."
}

.main-header-title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 80px;
  grid-area: mht;
}

.main-header-welcome {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  grid-area: mhw;
}

.main-header-name {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  grid-area: mhn;
}

/* MAIN HEADER NAV */

.mainheader-nav { 
  grid-area: mainnav;
  margin-top: auto;
  
}


.topic-list {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30px auto;
  grid-template-areas:
      ". . . . th th"
      ". . . . tc tc"
      ". . . . dta dta"
}

.topic-header {
  grid-area: th;
}

.topics-container {
  grid-area: tc;
}

.topic-item {
  grid-area: ti;
}

.dropdown-topic-add {
  grid-area: dta;
}



/* TRENDING STORIES */
.trending-list {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20px auto;
  grid-template-areas:
      ". . trendingheader trendingheader . ."
      ". trendingstory trendingstory trendingstory trendingstory ."
}

.trending-list-header {
  grid-area: trendingheader;
}


.trending-story-container {
  grid-area: trendingstory;
}

/* BOOKMARK STORIES */
.bookmark-list {
  display: grid;
  margin-top: 5%;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20px auto;
  grid-template-areas:
      ". . bookmarkheader bookmarkheader . ."
      ". bookmarkstory bookmarkstory bookmarkstory bookmarkstory ."
}

.bookmark-list-header {
  grid-area: bookmarkheader;
}


.bookmark-story-container {
  grid-area: bookmarkstory;
}

.bookmark-delete-button {
  text-align: left;
}

/* PROFILE PAGE */

.profile-container {
  display: grid;
  margin-top: 5%;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
      ". userinfo userinfo . . . . profilestory profilestory profilestory profilestory ."
}

.profile-story-container {
  grid-area: profilestory;
}

.user-info {
  grid-area: userinfo
}

.snap-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  justify-content: right;
}

.profile-snap-div {
  text-align: right;
}

/* NEW STORY PAGE */
.story-title-input {
  font-family: 'Open Sans', sans-serif;

}
.story-title-input:hover {
  font-family: 'Open Sans', sans-serif;

}

.story-content-input {
  font-family: 'Open Sans', sans-serif;
}

.story-content-input textarea {
  width: 800px;
	height: 800px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.snap-count {
  font-size: 200%;
}
