.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* TITLE PAGE */
/* #title-page {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 200px auto;
  grid-template-areas:
      ". header header header header header header header header header header ."
      ". about about about about about about about about about about ."
      ". tl tl tl tl tl tl tl tl tl tl ."
      
} */
/* TITLE HEADER */
.title-header {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
      ". name . . . . . . . in start ."
}


.title-name {
  grid-area: name;
  font-family: 'Fredericka the Great', cursive;
  font-size: 80px;
  margin-top: auto;
}

.sign-in {
  grid-area: in;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.get-started {
  grid-area: start;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* TITLE ABOUT */
.title-about {
  display: grid;
  margin-top: 10%;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25% 25% 25% 25% 25%;
  grid-template-areas:
      ". . h2 h2 h2 . . . . . . ."
      ". . . . . . . . . . . ."
      ". . p p p . . . . . . ." 
      ". . . . . . . . . . . ."
      ". . . astart . . . . . . . ."
}

.about-h2 {
  grid-area: h2;
}

.about-p {
  grid-area: p;
}

.about-get-started {
  grid-area: astart;
}

/* TITLE TRENDING STORIES */
.trending-list {
  display: grid;
  margin-top: 20%;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
      ". . . . . . tstory . . . . . ."
}

.trending-story {
  grid-area: tstory;
}

/* HOME PAGE */
.main-header {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      ". mht . . . . . . . mhwr mhp ."
      ". mhw mhn . . . . . . . . ."
}

.main-header-title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 80px;
  grid-area: mht;
}

.main-header-welcome {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  grid-area: mhw;
}

.main-header-name {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  grid-area: mhn;
}

.main-header-write {
  grid-area: mhwr;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.main-header-profile {
  grid-area: mhp;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.topic-list {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 200px 200px;
  grid-template-areas:
      ". . . . ti ti"
      ". . . . ti ti"
}

.topic-item {
  grid-area: ti;
}
